# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Build
*.log
*.bak

# Environment file
.env

# IDE
.idea/
.vscode/
